@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-image: url("images/bg-desktop.svg");
    background-color: hsl(257, 40%, 49%);
    display: flex;
    flex-direction: column;
    color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}
header{
    width: 200px;
    margin-left: 2rem;
}
main{
    margin-top: 2rem;
}
article img{
    width: 100%;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: aqua;
}
footer{
    display: flex;
    justify-content: space-around;
}
section{
    gap: 1.6rem;
}
.art1{
    width: 500px;
}
.art1 h1{
    margin-top: -200px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
}
.art1 p{
    margin-top: 20px;
    font-size: 2rem;
}
button{
    outline: none;
    border: 0;
    padding: 1.3rem 3.4rem;
    border-radius: 2rem;
    margin-top: 1.3rem;
    color:  hsl(257, 40%, 49%);
    transition: .5s;
    font-size: 1.5rem;
}
button:hover{
    color: #f2f2f2;
    background-color: hsl(300, 69%, 71%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}
footer{
    margin-top: 3rem;
}
.forIcon i{
    color: #fff;
    font-size: 2rem;
    padding: .5em;
    margin-right: .4em;
    border-radius: 50%;
    border: 1px solid #f2f2f2;
}
.forIcon i:hover{
    border-color: hsl(300, 69%, 71%);
    color: hsl(300, 69%, 71%);
    cursor: pointer;
}
footer p{
    font-size: 1.6rem;
    align-self: center;
}

@media screen and (max-width:400px) {
    body{
        padding: .3rem;
    }
    header{
        margin-left: .3rem;
        width: 100px;
    }
    section,footer{
        flex-direction: column;
    }
    footer{
        align-items: center;
    }
    footer article{
        margin-left: 0;
    }
    footer p{
        font-size: 1.2rem;
    }
    .art1{
        width: 95vw;
        text-align: center;
    }
    .art1 h1{
        margin-top: 0;
        font-size: 2rem;
    }
    .art1 p{
        font-size: 1.5rem;
    }
    .forIcon i{
        padding: .3em;
        margin: .2em; 
    }
}